/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* BASE */
body {
  background: linear-gradient(45deg, #1f1f1f, #000000);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  color: #ffffff;
  scroll-behavior: smooth;
}
@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.area {
    width: 100%;
}

.circles {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 5s linear infinite;
    bottom: -150px;
    z-index: 0;
    
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
   0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
   }

   100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
   }
}


/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  z-index: 10;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.navbar nav a {
  margin-left: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.navbar nav a:hover {
  color: #00ff99;
}

/* HERO */
.hero {
  min-height: 100vh;
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.hero-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text {
  max-width: 520px;
}

.hero-text h2 {
  font-size: 42px;
  margin-bottom: 16px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #cccccc;
}

.hero span {
  color: #00ff99;
}

/* FOTO */
.hero-photo {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00ff99;
}

/* BOTÃO */
.btn {
  margin-top: 24px;
  display: inline-block;
  padding: 12px 24px;
  background: #00ff99;
  color: #000000;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: transform 0.2s ease, border 0.2s ease;
}

.btn:hover {
  transform: translateY(-6px);
  border-color: #00ff99;
}

/* SECTIONS */
.section {
  padding: 120px 40px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
}

.skills li {
  background: #1f1f1f;
  padding: 10px 16px;
  border-radius: 6px;
}

/* FOOTER */
.footer {
  width: 100%;
  padding: 40px 0;
}


.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: #888;
  font-size: 14px;
}

.footer-links a {
  margin-left: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  color: #00ff99;
}

.projects-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.project-card {
  background: #151515;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #1f1f1f;
  transition: transform 0.2s ease, border 0.2s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  border-color: #00ff99;
}

.project-card h3 {
  margin-bottom: 12px;
}

.project-card p {
  color: #ccc;
  font-size: 15px;
  line-height: 1.5;
}

.project-techs {
  margin: 16px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.project-techs li {
  background: #1f1f1f;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.project-links a {
  margin-right: 16px;
  color: #00ff99;
  text-decoration: none;
  font-weight: 500;
}

.project-img {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
}

/* TRACK */
.project-img-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

/* CADA SLIDE */
.project-img-slide {
  min-width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* DEGRADÊ */
.project-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(17, 17, 17, 0) 35%,
    rgba(17, 17, 17, 0.6) 65%,
    #111 100%
  );
  pointer-events: none;
}


/* RESPONSIVO */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-text h2 {
    font-size: 32px;
  }

  .hero-photo {
    position: static;
    transform: none;
    margin: 32px auto 0;
    display: block;
  }

  .navbar {
    padding: 16px 20px;
  }

  .section {
    padding: 100px 20px;
  }
}

@media (max-width: 768px) {
  .navbar nav {
    width: 100%;
    justify-content: space-around;
    margin-top: 12px;
  }
}
